header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    background: #ffffff;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

main {
    margin: 0 auto;

}

.filtersContainer {
    display: flex;
    gap: 10px;
    padding: 30px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

#botoesContainer {
    display: flex;
    overflow-x: auto;
}

.estiloGeralBotoes {
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    background: rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #12b886;
    font-size: 0.9rem;
    margin-right: 10px;
}

.estiloGeralBotoes--filter:hover {
    background-color: #12b886;
    color: #ffffff;
    transition: ease-in-out 0.2s;
    }
.botoesClickStyle {
    background-color: #12b886;
    color: #ffffff;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.campoBuscaPorNome {
    border: none;
    padding: 0 10px;
    background: #f1f3f5;
    border-radius: 8px;
    margin-right: 5px;
    width: 250px;
    color: #515252;
    font-weight: 400;

}

.estiloGeralBotoes--botaoBuscaPorNome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #12b886;
    border: 1.5px solid #12b886;
    border-radius: 8px;

}

.priceContainer {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
    max-width: 98%;
    margin: 0 auto;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.containerVitrine {
    display: flex;
    width: 100%;
    border-radius: 50px 0;
}

.containerListaProdutos {
    max-width: 100%;
}

.containerListaProdutos ul {
    list-style: none;
    display: flex;
    gap: 14px;
    flex-wrap: nowrap;
    margin-top: 40px;
    overflow-x: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.containerListaProdutos .secaoProdutos li {
    border-radius: 8px;
    transition: ease-in-out 0.4s;
    max-width: 100vw;
    margin-bottom: 30px;
    justify-content: center;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
    width: 50vw;
    height: 23vh;
    border-radius: 20px;
}

.containerListaProdutos ul li h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0 15px;
    color: #212529;
}

.containerListaProdutos ul li p {
    font-size: 0.8rem;
    color: #868e96;
    font-weight: 900;
    margin: 10px 0;
}

.containerListaProdutos ul li span {
    font-size: 0.9rem;
    font-weight: 900;
    margin-top: 10px;
    display: inline-block;
    color: #212529;
}

.containerListaProdutos ul li ol {
    list-style: decimal;
    color: #868e96;
    font-size: 12px;
    margin-left: 15px;
}

.containerListaProdutos ul li ol li {
    margin: 0;
    width: 100%;
}

.containerListaProdutos ul li button {
    background-color: #12b8860d;
    border-radius: 8px;
    border: #12b8860d 1px solid;
    color: #12b886;
    padding: 5px;
    transition: 0.5s;
}

.containerListaProdutos ul li button:hover {
    background-color: #12b886;
    border: #12b886 1px solid;
    color: white;
}

.containerListaProdutos ul li div {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 425px) {
    .containerBuscaPorNome {
        min-width: 100%;
    }
}

@media (min-width: 768px) {
    #botoesContainer {
        max-width: 45%;
    }

    .priceContainer {
        display: flex;
    }

    .containerBuscaPorNome {
        min-width: 50%;
    }

    .containerListaProdutos ul {
        max-width: 95%;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .containerListaProdutos ul li {
        max-width: 30vw;
    }

    .containerListaProdutos ul li img {
        width: 30vw;
    }

}

@media (min-width: 1024px) {
    #botoesContainer {
        max-width: 80%;
        overflow-x: hidden;
    }

    .containerBuscaPorNome {
        min-width: 40%;
    }

    .priceContainer {
        padding: 5px 40px;
        max-width: 100%;
    }

    .containerVitrine {
        flex-direction: column;
    }

    .containerListaProdutos ul {
        max-width: 95%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .containerListaProdutos ul li {
        width: 300px;
    }

    .containerListaProdutos ul li img {
        width: 30vw;
    }

}

@media (min-width: 1440px) {

    main {
        width: 1200px;
        margin: 0 auto;
    }

    /* .containerListaProdutos ul li button:hover {
        background-color: #12b886;
        border: #12b886 1px solid;
        color: white;
    } */

    .filtersContainer {
        max-width: 100%;
    }

    .containerBuscaPorNome {
        justify-content: flex-end;
    }

    .containerListaProdutos .secaoProdutos ul {
        justify-content: space-between;
        width: 100%;
    }

    .priceContainer {
        padding: 5px;
        max-width: 100%;
    }

    .containerVitrine {
        max-width: 100%;
        margin-top: 30px;
    }

    .containerListaProdutos .secaoProdutos {

         min-width: 100%;
    }

    .containerListaProdutos .secaoProdutos li {

        max-width: 285px;
    }

    .secaoProdutos li img {
        max-width: 100%;
    }
}